.hide-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
    z-index: 1;
    opacity: 0.6;
    display: none;
}
.hide-screen .spinner-wrapper{
    font-size: 25px;
    text-align: center;
    color: #1C86EE;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -250px;
    height: 100px;
}
@-webkit-keyframes flash {
    0%, 100%, 50% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%, 100%, 50% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}
.faa-flash.animated,
.faa-flash.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-flash {
    -webkit-animation: flash 2s ease infinite;
    animation: flash 2s ease infinite;
}

.faa-flash.animated.faa-fast,
.faa-flash.animated-hover.faa-fast:hover,
.faa-parent.animated-hover:hover > .faa-flash.faa-fast {
    -webkit-animation: flash 1s ease infinite;
    animation: flash 1s ease infinite;
}

.faa-flash.animated.faa-slow,
.faa-flash.animated-hover.faa-slow:hover,
.faa-parent.animated-hover:hover > .faa-flash.faa-slow {
    -webkit-animation: flash 3s ease infinite;
    animation: flash 3s ease infinite;
}

.rating-block .cell {
    padding: 5px;
    margin-bottom: 3px;
    width: 33px;
    display: inline-block;
    text-align: center;
    height: 116px;
    background: url("../image/ratingicon/admin-rating.png") no-repeat;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
.rating-block .cell:first-child{  background-position: 0 18px;  }
.rating-block .cell:nth-child(2){  background-position: -29px 18px;  }
.rating-block .cell:nth-child(3){  background-position: -58px 18px;  }
.rating-block .cell:nth-child(4){  background-position: -89px 18px;  }
.rating-block .cell:nth-child(5){  background-position: -118px 18px;  }
.rating-block .cell:nth-child(6){  background-position: -148px 18px;  }
.rating-block .cell:nth-child(7){  background-position: -448px 21px;  }
.rating-block .cell:nth-child(8){  background-position: -180px 18px;  }
.rating-block .cell:nth-child(9){  background-position: -209px 18px;  }
.rating-block .cell:nth-child(10){  background-position: -238px 18px;  }
.rating-block .cell:nth-child(11){  background-position: -269px 18px;  }
.rating-block .cell:nth-child(12){  background-position: -298px 18px;  }
.rating-block .cell:nth-child(13){  background-position: -328px 18px;  }
.rating-block .cell:nth-child(14){  background-position: -359px 18px;  }
.rating-block .cell:nth-child(15){  background-position: -418px 18px;  }
.rating-block .cell:nth-child(16){  background-position: -388px 18px;  }
.tab-icon{
    color: #1E91CF;
}
#input-review-icon{
    font-family: 'FontAwesome', 'Helvetica';
}
.fa-comments {
    color:#00BFFF;
}
.page-header h1 a{
    color: #CFCFCF;
}