body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.tm-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tm-container *:before,
.tm-container *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tm-container p {  margin: 0 0 10px;  }
.tm-container ul, .tm-container ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.tm-container ul ul, ol .tm-container ul, .tm-container ul ol, .tm-containerol .tm-container ol {  margin-bottom: 0;  }
.tm-container .text-left {
    text-align: left;
}
.tm-container .text-right {
    text-align: right;
}
.tm-container .text-center {
    text-align: center;
}
.tm-container .text-justify {
    text-align: justify;
}
.tm-container .text-nowrap {
    white-space: nowrap;
}
.tm-container .text-lowercase {
    text-transform: lowercase;
}
.tm-container .text-uppercase {
    text-transform: uppercase;
}
.tm-container .text-capitalize {
    text-transform: capitalize;
}
.tm-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .tm-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .tm-container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .tm-container {
        width: 1170px;
    }
}
.tm-container .form-horizontal .form-group:after, .tm-container .form-horizontal .form-group:before,
.tm-container .row:before, .tm-container .row:after {
    display: table;
    content: " ";
}
.tm-container .row {
    margin-right: -15px;
    margin-left: -15px;
}

.tm-container .col-xs-1, .tm-container .col-sm-1, .tm-container .col-md-1, .tm-container .col-lg-1, .tm-container .col-xs-2, .tm-container .col-sm-2, .tm-container .col-md-2, .tm-container .col-lg-2, .tm-container .col-xs-3, .tm-container .col-sm-3, .tm-container .col-md-3, .tm-container .col-lg-3, .tm-container .col-xs-4, .tm-container .col-sm-4, .tm-container .col-md-4, .tm-container .col-lg-4, .tm-container .col-xs-5, .tm-container .col-sm-5, .tm-container .col-md-5, .tm-container .col-lg-5, .tm-container .col-xs-6, .tm-container .col-sm-6, .tm-container .col-md-6, .tm-container .col-lg-6, .tm-container .col-xs-7, .tm-container .col-sm-7, .tm-container .col-md-7, .tm-container .col-lg-7, .tm-container .col-xs-8, .tm-container .col-sm-8, .tm-container .col-md-8, .tm-container .col-lg-8, .tm-container .col-xs-9, .tm-container .col-sm-9, .tm-container .col-md-9, .tm-container .col-lg-9, .tm-container .col-xs-10, .tm-container .col-sm-10, .tm-container .col-md-10, .tm-container .col-lg-10, .tm-container .col-xs-11, .tm-container .col-sm-11, .tm-container .col-md-11, .tm-container .col-lg-11, .tm-container .col-xs-12, .tm-container .col-sm-12, .tm-container .col-md-12, .tm-container .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.tm-container .col-xs-1, .tm-container .col-xs-2, .tm-container .col-xs-3, .tm-container .col-xs-4, .tm-container .col-xs-5, .tm-container .col-xs-6, .tm-container .col-xs-7, .tm-container .col-xs-8, .tm-container .col-xs-9, .tm-container .col-xs-10, .tm-container .col-xs-11, .tm-container .col-xs-12 {
    float: left;
}
.tm-container .col-xs-12 {
    width: 100%;
}
.tm-container .col-xs-11 {
    width: 91.66666667%;
}
.tm-container .col-xs-10 {
    width: 83.33333333%;
}
.tm-container .col-xs-9 {
    width: 75%;
}
.tm-container .col-xs-8 {
    width: 66.66666667%;
}
.tm-container .col-xs-7 {
    width: 58.33333333%;
}
.tm-container .col-xs-6 {
    width: 50%;
}
.tm-container .col-xs-5 {
    width: 41.66666667%;
}
.tm-container .col-xs-4 {
    width: 33.33333333%;
}
.tm-container .col-xs-3 {
    width: 25%;
}
.tm-container .col-xs-2 {
    width: 16.66666667%;
}
.tm-container .col-xs-1 {
    width: 8.33333333%;
}
.tm-container .col-xs-pull-12 {
    right: 100%;
}
.tm-container .col-xs-pull-11 {
    right: 91.66666667%;
}
.tm-container .col-xs-pull-10 {
    right: 83.33333333%;
}
.tm-container .col-xs-pull-9 {
    right: 75%;
}
.tm-container .col-xs-pull-8 {
    right: 66.66666667%;
}
.tm-container .col-xs-pull-7 {
    right: 58.33333333%;
}
.tm-container .col-xs-pull-6 {
    right: 50%;
}
.tm-container .col-xs-pull-5 {
    right: 41.66666667%;
}
.tm-container .col-xs-pull-4 {
    right: 33.33333333%;
}
.tm-container .col-xs-pull-3 {
    right: 25%;
}
.tm-container .col-xs-pull-2 {
    right: 16.66666667%;
}
.tm-container .col-xs-pull-1 {
    right: 8.33333333%;
}
.tm-container .col-xs-pull-0 {
    right: auto;
}
.tm-container .col-xs-push-12 {
    left: 100%;
}
.tm-container .col-xs-push-11 {
    left: 91.66666667%;
}
.tm-container .col-xs-push-10 {
    left: 83.33333333%;
}
.tm-container .col-xs-push-9 {
    left: 75%;
}
.tm-container .col-xs-push-8 {
    left: 66.66666667%;
}
.tm-container .col-xs-push-7 {
    left: 58.33333333%;
}
.tm-container .col-xs-push-6 {
    left: 50%;
}
.tm-container .col-xs-push-5 {
    left: 41.66666667%;
}
.tm-container .col-xs-push-4 {
    left: 33.33333333%;
}
.tm-container .col-xs-push-3 {
    left: 25%;
}
.tm-container .col-xs-push-2 {
    left: 16.66666667%;
}
.tm-container .col-xs-push-1 {
    left: 8.33333333%;
}
.tm-container .col-xs-push-0 {
    left: auto;
}
.tm-container .col-xs-offset-12 {
    margin-left: 100%;
}
.tm-container .col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.tm-container .col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.tm-container .col-xs-offset-9 {
    margin-left: 75%;
}
.tm-container .col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.tm-container .col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.tm-container .col-xs-offset-6 {
    margin-left: 50%;
}
.tm-container .col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.tm-container .col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.tm-container .col-xs-offset-3 {
    margin-left: 25%;
}
.tm-container .col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.tm-container .col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.tm-container .col-xs-offset-0 {
    margin-left: 0;
}
@media (min-width: 768px) {
    .tm-container .col-sm-1, .tm-container .col-sm-2, .tm-container .col-sm-3, .tm-container .col-sm-4, .tm-container .col-sm-5, .tm-container .col-sm-6, .tm-container .col-sm-7, .tm-container .col-sm-8, .tm-container .col-sm-9, .tm-container .col-sm-10, .tm-container .col-sm-11, .tm-container .col-sm-12 {
        float: left;
    }
    .tm-container .col-sm-12 {
        width: 100%;
    }
    .tm-container .col-sm-11 {
        width: 91.66666667%;
    }
    .tm-container .col-sm-10 {
        width: 83.33333333%;
    }
    .tm-container .col-sm-9 {
        width: 75%;
    }
    .tm-container .col-sm-8 {
        width: 66.66666667%;
    }
    .tm-container .col-sm-7 {
        width: 58.33333333%;
    }
    .tm-container .col-sm-6 {
        width: 50%;
    }
    .tm-container .col-sm-5 {
        width: 41.66666667%;
    }
    .tm-container .col-sm-4 {
        width: 33.33333333%;
    }
    .tm-container .col-sm-3 {
        width: 25%;
    }
    .tm-container .col-sm-2 {
        width: 16.66666667%;
    }
    .tm-container .col-sm-1 {
        width: 8.33333333%;
    }
    .tm-container .col-sm-pull-12 {
        right: 100%;
    }
    .tm-container .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .tm-container .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .tm-container .col-sm-pull-9 {
        right: 75%;
    }
    .tm-container .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .tm-container .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .tm-container .col-sm-pull-6 {
        right: 50%;
    }
    .tm-container .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .tm-container .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .tm-container .col-sm-pull-3 {
        right: 25%;
    }
    .tm-container .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .tm-container .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .tm-container .col-sm-pull-0 {
        right: auto;
    }
    .tm-container .col-sm-push-12 {
        left: 100%;
    }
    .tm-container .col-sm-push-11 {
        left: 91.66666667%;
    }
    .tm-container .col-sm-push-10 {
        left: 83.33333333%;
    }
    .tm-container .col-sm-push-9 {
        left: 75%;
    }
    .tm-container .col-sm-push-8 {
        left: 66.66666667%;
    }
    .tm-container .col-sm-push-7 {
        left: 58.33333333%;
    }
    .tm-container .col-sm-push-6 {
        left: 50%;
    }
    .tm-container .col-sm-push-5 {
        left: 41.66666667%;
    }
    .tm-container .col-sm-push-4 {
        left: 33.33333333%;
    }
    .tm-container .col-sm-push-3 {
        left: 25%;
    }
    .tm-container .col-sm-push-2 {
        left: 16.66666667%;
    }
    .tm-container .col-sm-push-1 {
        left: 8.33333333%;
    }
    .tm-container .col-sm-push-0 {
        left: auto;
    }
    .tm-container .col-sm-offset-12 {
        margin-left: 100%;
    }
    .tm-container .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .tm-container .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .tm-container .col-sm-offset-9 {
        margin-left: 75%;
    }
    .tm-container .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .tm-container .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .tm-container .col-sm-offset-6 {
        margin-left: 50%;
    }
    .tm-container .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .tm-container .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .tm-container .col-sm-offset-3 {
        margin-left: 25%;
    }
    .tm-container .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .tm-container .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .tm-container .col-sm-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 992px) {
    .tm-container .col-md-1, .tm-container .col-md-2, .tm-container .col-md-3, .tm-container .col-md-4, .tm-container .col-md-5, .tm-container .col-md-6, .tm-container .col-md-7, .tm-container .col-md-8, .tm-container .col-md-9, .tm-container .col-md-10, .tm-container .col-md-11, .tm-container .col-md-12 {
        float: left;
    }
    .tm-container .col-md-12 {
        width: 100%;
    }
    .tm-container .col-md-11 {
        width: 91.66666667%;
    }
    .tm-container .col-md-10 {
        width: 83.33333333%;
    }
    .tm-container .col-md-9 {
        width: 75%;
    }
    .tm-container .col-md-8 {
        width: 66.66666667%;
    }
    .tm-container .col-md-7 {
        width: 58.33333333%;
    }
    .tm-container .col-md-6 {
        width: 50%;
    }
    .tm-container .col-md-5 {
        width: 41.66666667%;
    }
    .tm-container .col-md-4 {
        width: 33.33333333%;
    }
    .tm-container .col-md-3 {
        width: 25%;
    }
    .tm-container .col-md-2 {
        width: 16.66666667%;
    }
    .tm-container .col-md-1 {
        width: 8.33333333%;
    }
    .tm-container .col-md-pull-12 {
        right: 100%;
    }
    .tm-container .col-md-pull-11 {
        right: 91.66666667%;
    }
    .tm-container .col-md-pull-10 {
        right: 83.33333333%;
    }
    .tm-container .col-md-pull-9 {
        right: 75%;
    }
    .tm-container .col-md-pull-8 {
        right: 66.66666667%;
    }
    .tm-container .col-md-pull-7 {
        right: 58.33333333%;
    }
    .tm-container .col-md-pull-6 {
        right: 50%;
    }
    .tm-container .col-md-pull-5 {
        right: 41.66666667%;
    }
    .tm-container .col-md-pull-4 {
        right: 33.33333333%;
    }
    .tm-container .col-md-pull-3 {
        right: 25%;
    }
    .tm-container .col-md-pull-2 {
        right: 16.66666667%;
    }
    .tm-container .col-md-pull-1 {
        right: 8.33333333%;
    }
    .tm-container .col-md-pull-0 {
        right: auto;
    }
    .tm-container .col-md-push-12 {
        left: 100%;
    }
    .tm-container .col-md-push-11 {
        left: 91.66666667%;
    }
    .tm-container .col-md-push-10 {
        left: 83.33333333%;
    }
    .tm-container .col-md-push-9 {
        left: 75%;
    }
    .tm-container .col-md-push-8 {
        left: 66.66666667%;
    }
    .tm-container .col-md-push-7 {
        left: 58.33333333%;
    }
    .tm-container .col-md-push-6 {
        left: 50%;
    }
    .tm-container .col-md-push-5 {
        left: 41.66666667%;
    }
    .tm-container .col-md-push-4 {
        left: 33.33333333%;
    }
    .tm-container .col-md-push-3 {
        left: 25%;
    }
    .tm-container .col-md-push-2 {
        left: 16.66666667%;
    }
    .tm-container .col-md-push-1 {
        left: 8.33333333%;
    }
    .tm-container .col-md-push-0 {
        left: auto;
    }
    .tm-container .col-md-offset-12 {
        margin-left: 100%;
    }
    .tm-container .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .tm-container .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .tm-container .col-md-offset-9 {
        margin-left: 75%;
    }
    .tm-container .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .tm-container .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .tm-container .col-md-offset-6 {
        margin-left: 50%;
    }
    .tm-container .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .tm-container .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .tm-container .col-md-offset-3 {
        margin-left: 25%;
    }
    .tm-container .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .tm-container .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .tm-container .col-md-offset-0 {
        margin-left: 0;
    }
}
@media (min-width: 1200px) {
    .tm-container .col-lg-1, .tm-container .col-lg-2, .tm-container .col-lg-3, .tm-container .col-lg-4, .tm-container .col-lg-5, .tm-container .col-lg-6, .tm-container .col-lg-7, .tm-container .col-lg-8, .tm-container .col-lg-9, .tm-container .col-lg-10, .tm-container .col-lg-11, .tm-container .col-lg-12 {
        float: left;
    }
    .tm-container .col-lg-12 {
        width: 100%;
    }
    .tm-container .col-lg-11 {
        width: 91.66666667%;
    }
    .tm-container .col-lg-10 {
        width: 83.33333333%;
    }
    .tm-container .col-lg-9 {
        width: 75%;
    }
    .tm-container .col-lg-8 {
        width: 66.66666667%;
    }
    .tm-container .col-lg-7 {
        width: 58.33333333%;
    }
    .tm-container .col-lg-6 {
        width: 50%;
    }
    .tm-container .col-lg-5 {
        width: 41.66666667%;
    }
    .tm-container .col-lg-4 {
        width: 33.33333333%;
    }
    .tm-container .col-lg-3 {
        width: 25%;
    }
    .tm-container .col-lg-2 {
        width: 16.66666667%;
    }
    .tm-container .col-lg-1 {
        width: 8.33333333%;
    }
    .tm-container .col-lg-pull-12 {
        right: 100%;
    }
    .tm-container .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .tm-container .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .tm-container .col-lg-pull-9 {
        right: 75%;
    }
    .tm-container .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .tm-container .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .tm-container .col-lg-pull-6 {
        right: 50%;
    }
    .tm-container .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .tm-container .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .tm-container .col-lg-pull-3 {
        right: 25%;
    }
    .tm-container .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .tm-container .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .tm-container .col-lg-pull-0 {
        right: auto;
    }
    .tm-container .col-lg-push-12 {
        left: 100%;
    }
    .tm-container .col-lg-push-11 {
        left: 91.66666667%;
    }
    .tm-container .col-lg-push-10 {
        left: 83.33333333%;
    }
    .tm-container .col-lg-push-9 {
        left: 75%;
    }
    .tm-container .col-lg-push-8 {
        left: 66.66666667%;
    }
    .tm-container .col-lg-push-7 {
        left: 58.33333333%;
    }
    .tm-container .col-lg-push-6 {
        left: 50%;
    }
    .tm-container .col-lg-push-5 {
        left: 41.66666667%;
    }
    .tm-container .col-lg-push-4 {
        left: 33.33333333%;
    }
    .tm-container .col-lg-push-3 {
        left: 25%;
    }
    .tm-container .col-lg-push-2 {
        left: 16.66666667%;
    }
    .tm-container .col-lg-push-1 {
        left: 8.33333333%;
    }
    .tm-container .col-lg-push-0 {
        left: auto;
    }
    .tm-container .col-lg-offset-12 {
        margin-left: 100%;
    }
    .tm-container .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .tm-container .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .tm-container .col-lg-offset-9 {
        margin-left: 75%;
    }
    .tm-container .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .tm-container .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .tm-container .col-lg-offset-6 {
        margin-left: 50%;
    }
    .tm-container .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .tm-container .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .tm-container .col-lg-offset-3 {
        margin-left: 25%;
    }
    .tm-container .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .tm-container .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .tm-container .col-lg-offset-0 {
        margin-left: 0;
    }
}

.tm-container button, .tm-container input, .tm-container select, .tm-container textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.tm-container button, .tm-container select {
    text-transform: none;
}
.tm-container button, html .tm-container input[type=button], .tm-container input[type=reset], .tm-container input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.tm-container button {
    overflow: visible;
}
.tm-container button, .tm-container input, .tm-container optgroup, .tm-container select, .tm-container textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.tm-container .btn-group, .tm-container .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.tm-container .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.tm-container .btn-group>.btn:first-child {
    margin-left: 0;
}
.tm-container .btn-group-vertical>.btn, .tm-container .btn-group>.btn {
    position: relative;
    float: left;
}
.tm-container .btn-group>.btn:last-child:not(:first-child), .tm-container .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tm-container .btn-group .btn+.btn, .tm-container .btn-group .btn+.btn-group, .tm-container .btn-group .btn-group+.btn,
.tm-container .btn-group .btn-group+.btn-group {
    margin-left: -1px;
}
.tm-container .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.tm-container .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.tm-container .btn-default:hover, .tm-container .btn-default:focus, .tm-container .btn-default.focus, .tm-container .btn-default:active, .tm-container .btn-default.active,
.tm-container .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.tm-container .btn-primary:hover, .tm-container .btn-primary:focus, .tm-container .btn-primary.focus,
.tm-container .btn-primary:active, .tm-container .btn-primary.active, .open > .dropdown-toggle.tm-btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.tm-container .button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.tm-container .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.tm-container .label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.tm-container .modal-open {
    overflow: hidden;
}
.tm-container .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.tm-container .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.tm-container .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.tm-container .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.tm-container .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.tm-container .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.tm-container .modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
}
.tm-container .modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.tm-container .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.tm-container .modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.tm-container .modal-header .close {
    margin-top: -2px;
}
.tm-container .modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.tm-container .modal-body {
    position: relative;
    padding: 15px;
}
.tm-container .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.tm-container .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.tm-container .modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.tm-container .modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.tm-container .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
.tm-container button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.tm-container .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
@media (min-width: 768px) {
    .tm-container .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .tm-container .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .tm-container .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .tm-container .modal-lg {
        width: 900px;
    }
}

@media (min-width: 768px){
    .tm-container .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}
.tm-container .text-danger {
    color: #a94442;
}
.tm-container .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.has-error .tm-checkbox, .has-error .tm-checkbox-inline, .has-error .tm-control-label,
.has-error .tm-help-block, .has-error .tm-radio, .has-error .tm-radio-inline,
.has-error.tm-checkbox label, .has-error.tm-checkbox-inline label, .has-error.tm-radio label,
.has-error.tm-radio-inline label {
    color: #a94442;
}
.tm-container .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.tm-container .has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.tm-container .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.tm-container .pagination>li {
    display: inline;
}
.tm-container .pagination>li:first-child>a, .tm-container .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.tm-container .pagination>.active>a, .tm-container .pagination>.active>a:focus, .tm-container .pagination>.active>a:hover,
.tm-container .pagination>.active>span, .tm-container .pagination>.active>span:focus,
.tm-container .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.tm-container .pagination>li>a, .tm-container .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.tm-container .pagination>li:last-child>a, .tm-container .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.tm-container .table{
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.tm-container .table-bordered {
    border: 1px solid #ddd;
}
.tm-container .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.tm-container .table-bordered>tbody>tr>td, .tm-container .table-bordered>tbody>tr>th,
.tm-container .table-bordered>tfoot>tr>td, .tm-container .table-bordered>tfoot>tr>th,
.tm-container .table-bordered>thead>tr>td, .tm-container .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}
.tm-container .table>tbody>tr>td, .tm-container .table>tbody>tr>th, .tm-container .table>tfoot>tr>td,
.tm-container .table>tfoot>tr>th, .tm-container .table>thead>tr>td, .tm-container .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.tm-container .table td, .tm-container .table th {
    padding: 0;
}

.tm-container .carousel-inner>.item>a>img, .tm-container .carousel-inner>.item>img, .tm-container .img-responsive,
.tm-container .thumbnail a>img, .tm-container .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.tm-container .img {
    vertical-align: middle;
}
.tm-container .img {
    border: 0;
}
.tm-container .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.tm-container .form-group {
    margin-bottom: 15px;
}
.tm-container .clearfix:before,
.tm-container .clearfix:after,
.tm-container .dl-horizontal dd:before,
.tm-container .dl-horizontal dd:after,
.tm-container .container:before,
.tm-container:after,
.tm-container .container-fluid:before,
.tm-container .container-fluid:after,
.tm-container .row:before,
.tm-container .row:after,
.tm-container .form-horizontal .tm-form-group:before,
.tm-container .form-horizontal .tm-form-group:after,
.tm-container .btn-toolbar:before,
.tm-container .btn-toolbar:after,
.tm-container .btn-group-vertical > .tm-btn-group:before,
.tm-container .btn-group-vertical > .tm-btn-group:after,
.tm-container .nav:before,
.tm-container .nav:after,
.tm-container .navbar:before,
.tm-container .navbar:after,
.tm-container .navbar-header:before,
.tm-container .navbar-header:after,
.tm-container .navbar-collapse:before,
.tm-container .navbar-collapse:after,
.tm-container .pager:before,
.tm-container .pager:after,
.tm-container .panel-body:before,
.tm-container .panel-body:after,
.tm-container .modal-footer:before,
.tm-container .modal-footer:after {
    display: table;
    content: " ";
}
.tm-container .clearfix:after,
.tm-container .dl-horizontal dd:after,
.tm-container .container:after,
.tm-container .container-fluid:after,
.tm-container .row:after,
.tm-container .form-horizontal .form-group:after,
.tm-container .btn-toolbar:after,
.tm-container .btn-group-vertical > .btn-group:after,
.tm-container .nav:after,
.tm-container .navbar:after,
.tm-container .navbar-header:after,
.tm-container .navbar-collapse:after,
.tm-container .pager:after,
.tm-container .panel-body:after,
.tm-container .modal-footer:after {
    clear: both;
}

.tm-container .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.tm-container .pull-right {
    float: right !important;
}
.tm-container .pull-left {
    float: left !important;
}
.tm-container .hide {
    display: none !important;
}
.tm-container .show {
    display: block !important;
}
.tm-container .invisible {
    visibility: hidden;
}
.tm-container .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.tm-container .hidden {
    display: none !important;
    visibility: hidden !important;
}
.tm-container .affix {
    position: fixed;
}

.tm-container .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.tm-container .alert h4 {
    margin-top: 0;
    color: inherit;
}
.tm-container .alert .alert-link {
    font-weight: bold;
}
.tm-container .alert > p,
.tm-container .alert > ul {
    margin-bottom: 0;
}
.tm-container .alert > p + p {
    margin-top: 5px;
}
.tm-container .alert-dismissable,
.tm-container .alert-dismissible {
    padding-right: 35px;
}
.tm-container .alert-dismissable .close,
.tm-container .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.tm-container .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.tm-container .alert-success hr {
    border-top-color: #c9e2b3;
}
.tm-container .alert-success .alert-link {
    color: #2b542c;
}
.tm-container .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.tm-container .alert-info hr {
    border-top-color: #a6e1ec;
}
.tm-container .alert-info .alert-link {
    color: #245269;
}
.tm-container .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.tm-container .alert-warning hr {
    border-top-color: #f7e1b5;
}
.tm-container .alert-warning .alert-link {
    color: #66512c;
}
.tm-container .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.tm-container .alert-danger hr {
    border-top-color: #e4b9c0;
}
.tm-container .alert-danger .alert-link {
    color: #843534;
}
.tm-container figure {
    margin: 0;
}
.tm-container .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.tm-container .thumbnail > img,
.tm-container .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}
.tm-container img {
    vertical-align: middle;
    border: 0;
}
.tm-container .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    width: 100%;
}
.tm-container .panel-body {
    padding: 15px;
}
.tm-container .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.tm-container .panel-default {
    border-color: #ddd;
}
.tm-container .panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;

    line-break: auto;
}
.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}
.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}
.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}
.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}